<h1><%= @category.name %></h1>

<% @food.each do |food| %>
  <div class="foodlist">
    <div class="food_picture">
      "Food picture"
    </div>
    <div class="food_info">
      <a href="/mat/<%=food.id%>"><%= food.name %></a>
      <br>
      <div class="food_description">
        <p><%=food.description%></p>
      </div>
    </div>
  </div>
<% end %>